.courses-container {
  padding: 20px;
  background-color: #eee;
  margin-top: 0;
}

.courses-title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  color: #FF4F81;
  text-align: center;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.course-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-weight: 600;
  font-size: 16px;
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 52px rgba(243, 63, 114, 0.3);

}

.course-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 12px;
}

.course-name {
  font-weight: 700;
}
